Você tem um arquivo CSV contendo informações de vendas com as colunas: data, produto, quantidade, preco_unitario.

Escreva um código que leia o arquivo e calcule o faturamento total por produto.
Encontre o produto com maior e menor faturamento.

***Neste caso, foi criado um arquivo .csv contendo informações sobre alguns produtos, e o código foi feito para a solução do problema proposto.***

In [2]:
import pandas as pd
import os

In [ ]:

filePath = os.path.join(os.path.abspath(os.path.curdir), "vendas.csv")  # path relativo, desse modo roda em outra máquina.
df = pd.read_csv(filePath)

In [4]:
df.drop("data", axis=1, inplace=True)  # https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html

df["total_vendido"] = df["quantidade"] * df["preco_unitario"]
df.head()

     produto  quantidade  preco_unitario  total_vendido
0  produto A           2          774.48        1548.96
1  produto B           5         1442.00        7210.00
2  produto B           5         1238.05        6190.25
3  produto C           1         4812.74        4812.74
4  produto B           2         2510.16        5020.32

In [ ]:
df_total_produto = df.groupby("produto")["total_vendido"].sum()  # https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html
df_total_produto.sort_values(ascending=False)  # Ordenando descescente.

produto
produto E    1556942.23
produto C    1261444.54
produto F     825703.64
produto B     787263.42
produto H     637268.08
produto G     618840.52
produto A     612245.91
produto D     568449.32
Name: total_vendido, dtype: float64

In [ ]:
idx = df_total_produto.idxmax()  # Máquina ID
value = round(df_total_produto.max(), 2)  # Máximo valor, correspondente ao ID acima.
print(f"Produto com o MAIOR faturamento: {idx} -> {value}")

Produto com o MAIOR faturamento: produto E -> 1556942.23

In [7]:
idx = df_total_produto.idxmin()
value = round(df_total_produto.min(), 2)
print(f"Produto com o MENOR faturamento: {idx} -> {value}")

Produto com o MENOR faturamento: produto D -> 568449.32